*{margin:0;padding:0;box-sizing: border-box;}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
span{font-size: .85rem;margin-right:4px;}
img{width: 100%;height: 100%;}
section{padding: 100px 0;background:#fbfbfb}
p {
    font-size: .96rem;
    line-height: 1.6;
    color: #606060;
    word-spacing: 3px;
    letter-spacing: .1px;
}
a{text-decoration: none;}
header, section, footer {
    max-width: 100%;
    
}
html{scroll-behavior: smooth;}
/***********************************************************************************************************/
   /*************************Home Page****************************/
/*************header part***************/
.address{background: rgba(122, 86, 86, 0) linear-gradient(to right, #355b71a6 0px, #194f5da3 100%) repeat scroll 0 0 !important;color:rgb(39, 27, 27);padding: 8px 0;}
.address .container{display:flex;justify-content:space-between;align-items: center;}
.logo,.navbar-brand{width: 90px;height: auto;border-radius: 50%;}
.title{display:flex;align-items: center;}
.header-part {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    box-shadow:0 0 0 0 black;
    padding-top: 0;
    padding-bottom:1%;
}
.title-name {
    margin-left:3%;
}
.title-name h1 {
    font-family: arial;
    font-weight: bold;
    color:#ffffff;
    font-size: 2.2rem;
    text-shadow: 0px 0px 20px #000000eb;
}
.right {
    text-align: right;
    padding-right: 32px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    color:#fff;
}
/*********************************Navigation bar****************************************/
.navbar {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #234e1d 0px, #17666d 100%) repeat scroll 0 0 !important;z-index: 9999;
    width: 100%;
}
.navbar .nav-item .nav-link {
    color: #fff;
    margin-right: 5px;
    font-size: .85rem;
    text-transform: uppercase;
    color: #fff !important;
}
.navbar .nav-item .nav-link:last-child {
    margin-right: 0;
}
.navbar-toggler {color: #fff !important;border-color: #fff !important;width: 100%;margin: auto;    background: #ffffff1a;}
.navbar-toggler i {
    width: 100% !important;
    color: #fff !important;
}
ul.navbar-nav.mr-auto {
    text-align: center;
}
.dropdown-menu {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
}
a.dropdown-item {
    color: #fff;
    padding: .6rem 1.4rem;
    text-transform: uppercase;
    font-size: .78rem;
    word-spacing: 3px;
    letter-spacing: .4px;
}
a.dropdown-item:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #4ea93f 0px, #3199a2 100%) repeat scroll 0 0 !important;
    color: #fff;
}
.dropdown-divider {
    margin: 0;
}
.dropdown-divider:last-child {
    display: none;
}
a.dropdown-item:first-child {
    margin-top: 0;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    box-shadow: 0px 9px 20px 0 #0000002e;
}
.black{position:fixed;top:0;z-index: 1020;animation:navs .5s ease ;font-size: .7rem;box-shadow: 0px 5px 20px 0 #00000038;}
@keyframes navs{
   0%{transform: translateY(-100%);opacity: 0;}
   100%{transform: translateY(0%);opacity: 1;}
}
.navbar-collapse {
    overflow-y: scroll;
    max-height:100px;
    overflow-x: hidden;
}
/**************************************Banner Area*****************************************/
section.banner {
    max-height: 100vh;
    padding:0;
}
ol.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 6px;
    background: #000000;
    border: 1.5px solid #ffffff;
    opacity: .5;
}
ol.carousel-indicators li.active {
    background: #107c7d;
}
/*****************************************Intro area*************************************************/
.sectionTitle{
   padding-bottom: 6%;
   text-align: center;
}
.sectionTitle h2 span{font-size: 1.8rem;font-weight: bold;text-transform: uppercase;font-family: arial black;color: #2b8377;position: relative;}
.sectionTitle h2 span::before {content: "";position: absolute;bottom: -50%;left: 35%;width: 30%;height: 6px;background: #2b8377;}
/*****************************message-area******************************/
.common-div,.notice-div,.event-box {
    background: #fbfbfb;
    box-shadow: 0 0 20px 0 #00000061;
    transition:all .6s;
}
.common-div:hover {
    transform: translateY(-10px);
}
.m-title {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    padding: 11px;
}
#message a {
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    padding: 9px 10px;
    font-size: .9rem;
    text-transform: uppercase;
}
#message a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
    transition: all .8s;
}
.common-div .row {
    margin: 0;
    padding-bottom: 25px;
}
.m-title h4 {
    color: #fff;
}
#message,#events-area {
    background: #b5b5b57d;
}
/*****************************number of people area******************************/
#numbers{background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(../img/number.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size:cover;min-height: 300px;}
#numbers .col-lg-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#numbers .col-lg-3 h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}
#numbers .col-lg-3 p {
    color: #fff;
    text-transform: uppercase;
    font-size: .73rem;
    text-align: center;
}
/********************************Notice area***************************************/
#notice-area .col-md-4 .notice-div {
    border: 1px solid #8a9a9b;
    padding: 15px;
    background: #48924e;
    box-shadow: 0 0 20px 0 #00000040;
}
.notice-div:hover {
    transform: translateY(-10px);
}
.notice-div h4 {
    color: #fff;
    margin-bottom: 15px;
}
.notice-div p {
    color: #fff;
}
#notice-area a, #events-area a, #more-links a, #send-m input[type="submit"], .download-btn, #home-work .more-hw,.form-btn,#notice-board a,#news-index a {
    text-decoration: none;
    color: #fff;
    background: rgba(3, 1, 1, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    padding: 9px 10px;
    font-size: .9rem;
    text-transform: uppercase;
    background: #8a9a9b;
}
#notice-area a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
#notice-area .more-notice,#home-work .more-hw {
    padding: 15px 50px;
    font-size: .9rem;
}
/********************event area************************/
section#events-area .sectionTitle h2 span {
    color: #327069;
    text-shadow: 0 0 20px #00000000;
}
section#events-area .sectionTitle h2 span:before {
    background: #327069;
}
.event-des {
    background: #fbfbfb;
    padding: 16px 12px;
}
#events-area a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
.event-box {
    box-shadow: 0 0 20px 0 #00000061;
}
.event-box:hover {
    transform: translateY(-10px);
}
/***************************Footer Area**************************************/
footer .footer-top ul {
    list-style: none;
    padding: 0;
}
footer .footer-top ul li a {
    text-decoration: none;
    color: #736e78;
    font-size: .92rem;
}
.footer-top {
    background: #201b25;
}
.footer-top h5 {color: #fff;font-weight: 500;font-size: 19px;padding: 0;margin: 0;line-height: 1 !important;text-transform: uppercase;margin-bottom: 30px;}
footer .footer-top ul li {
    margin: 18px 0;
    border-bottom: 1px solid #736e7859;
}
footer .footer-top ul li a:hover {
    color: #186467;
}
.location {
    max-height: 200px;
}
.location img {
    max-height: 156px !important;
}
.footer-bottom {
    background: #1c1721;
    padding: 20px 0;
}
.footer-bottom span a {
    text-decoration: none;
    color: tomato;
    font-weight: 600;
    font-size: 1rem;
}
.footer-top p {
    color: #736e78;
    font-size: .92rem;
}
::placeholder {font-size: .92rem;font-family: arial;}
span.input-group-text {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    border: 1px solid #28786a;
}
span.input-group-text i {
    color: #fff;
}
.footer-top input,.input-group-text {
    border-radius: 0;
}
/*****************************ScrollButton***********************************/
div#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    background: #00000063;
    padding: 5px 11.75px;
    display: none;
    border-radius: 50%;
    transition: .6s ease;
}
div#topBtn i {
    font-size: 12px;
    color: #fff;
}
div#topBtn:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
/***********************************************************************************************************/
   /*************************About Us****************************/
  #m-slider{background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../img/m-slider.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: 100% 100%;min-height: 300px;}
  section#m-slider h4 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: arial black;
}
#m-slider p a {
    text-decoration: none;
    color: #efefef;
}
#m-slider p i {
    color: #fff;
    font-size: .7rem;
}
section#more-links {
    background: #b5b5b57d;
}
#more-links a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
section#more-links a {
    margin: 15px 15px;
    display: inline-block;
}
/**********************************academic***************************************/
/**************textbook list & syllebus*****************/
#tbook-list .bs-example .tab-content ul li {margin-bottom: 15px;}
#tbook-list .nav-tabs li a, #exam-routine .nav-tabs li a {text-decoration: none;margin-right: 54px;color: #2b8377;font-weight: 600;}
#tbook-list .nav-tabs, #exam-routine .nav-tabs {
    padding: 13px 0;
}
#tbook-list .nav-tabs li a.active,#exam-routine .nav-tabs li a.active {
    color: #fff;
    background: #2b8377;
    padding: 6px 14px;
}
#tbook-list .tab-content,#exam-routine .tab-content {
    background: #fff;
    padding: 18px;
    box-shadow: inset 0 0 20px 0 #00000026;
}
#tbook-list .tab-content h4 {
    font-weight: 800;
    text-transform: uppercase;
}
/**************result*****************/
#ssc-2020 table .mycolor {
    background: #1b5d50;
}
/*************************************Information***************************************************/
/*************************notice board*************************************/
#notice-board a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
.pagination li a {
    padding: 13px 35px!important;
    background: rgba(3, 1, 1, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    color: #fff;
    text-decoration: none;
}
.pagination li.disabled a {
    background: rgba(3, 1, 1, 0) linear-gradient(to right, #36c72f 0px, #193e42 100%) repeat scroll 0 0 !important;
}
.pagination li a:hover {color: #fff;}
/********************************news & events*************************************/
#news-index a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important;
}
/*******************news-details******************************/
section#news-details h3 {
    color: #186466;
    font-weight: bold;
}
/*************************teacher-intro*************************************/
section#all-teachers table img {
    max-width: 70px;
    max-height: 52px;
}
section#all-teachers table th {
    text-transform: uppercase;
}
/*************************************Admission***************************************************/
/*************************apply now*************************************/

section#admission-info .form-check-label {
    margin-left: 60px;
}
a.form-btn:hover {
    color: #fff;
    text-decoration: none;
}
a.form-btn {
    padding: 15px 100px;
}
/***********************************gallery*********************************************/
/*********************************** video gallery*********************************************/
.vid-img{position: relative;}
.vid-icon {
    width: 75px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*************************************download***************************************************/
/*************************homework*************************************/
section#home-work p {
    margin-bottom: 35px;
}
/*************************************Appointment***************************************************/
/*************************job circulur*************************************/
a.download-btn:hover {
    text-decoration: none;
    color: #fff;
}
/*************************************Archive***************************************************/
/**************************All headTeachers*************************************/
section#ht-section {
    background: #d6d6d67d;
}
.h-teacher-title {
    background: #fbfbfb;
}
.h-teacher-box {
    transition: all .7s;
    box-shadow: 0 0 20px 0 #0000006b;
}
.h-teacher-box h5 {
    color: #2b8377;
    min-height: 50px;
}
.h-teacher-box b {
    color: #464646;
}
.h-teacher-box:hover {
    transform: translateY(-10px);
}
/**************************Old Buildings*************************************/
.building-img img {
    max-height: 300px;
}
.building-img {
    border: 2px solid #ececec;
}
/***********************************************************************************************************/
/******************************Contact page***********************************************/
section#contact-body h4 {
    font-size: 1.3rem;
    color: #16696d;
    font-weight: bold;
    margin-top: 40px;
}
#send-m .form-control {
    border-radius: 0;
}
#send-m textarea {color: #6c757d;padding: 10px;border: 1px solid #ced4da;overflow: hidden;width: 100%;height: 70%;}
#send-m input[type="submit"] {
    border: none;
}
#send-m input[type="submit"]:hover{
    background:rgba(0, 0, 0, 0) linear-gradient(to right,#17666d  0px,#234e1d  100%) repeat scroll 0 0 !important
}
section#send-m {
    background: #b5b5b57d;
}
/***********************************************************************************************************/
   /*************************Admin Login page****************************/
   .login-box{
    width: 100% !important;
    padding: 40px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #34712a 0px, #237a82 100%) repeat scroll 0 0 !important;
    text-align: center;
    box-shadow: 0 0 20px 0 #0000008c;
    }
.login-box input[type="text"],.login-box input[type="password"]{
    border:0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #234e1d 0px, #17666d 100%) repeat scroll 0 0 !important;
    display:block;
    margin:20px auto;
    text-align:center;
    padding:14px 10px;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: 28px;
    box-shadow: inset 0 0 19px 0 #0000008c;
}
.login-body{background: #434244;height: 100vh;}
form.login-box h1 {
    color: #fff;
}
form.login-box input[type="submit"] {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #17666d 0px, #2f5829 100%) repeat scroll 0 0 !important;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 23px;
    padding: 10px 45px;
    color: #fff;
    cursor: pointer;
    transition: .25s;
    box-shadow: 0 0 19px 0 #0000008c;
}
form.login-box input::placeholder {
    color: #fff;
}
.login-box input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right,#2f5829  0px,#17666d  100%) repeat scroll 0 0 !important;
}
.login-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1.login-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
/**************************Media query***************************************/
@media(max-width:575px){
    .title-name h1 {
        font-size: 1.2rem;
    }
    .carousel-item {
        height: 80vh;
    }
    span{font-size: .65rem;}
    .navbar-collapse {
        max-height:240px;
    }
    .sectionTitle h2 span{font-size:1.4rem;}
    h4{font-size: 1.3rem;}
    .common-div p {
        margin: 15px 0;
    } 
    header, section, footer {
        overflow: hidden;
    } 
    section#m-slider h4 {font-size: 1.6rem;} 
    .login-main{width:90%}
    .h-teacher-title p {
        min-height: 51px;
    }
    .h-teacher-box h5{min-height: 25px;}
    .table-part {
        overflow-x: scroll;
    }
    #message .common-div img {
        max-height: 400px;
    }
    #exam-routine .tab-content {
        overflow-x: scroll;
    }
    .pagination li a {
        padding: 8px 25px!important;
    }
    section#events-area .event-box .events-img img {
        min-height: 180px;
    }
    section.intro .vid-img img {
        max-height: 220px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .title-name h1 {
        font-size: 1.4rem;
    }
    .carousel-item {
        height: 83vh;
    }
    .navbar-collapse {
        max-height:270px;
    }
    .sectionTitle h2 span{font-size:1.5rem;}
    h4{font-size: 1.35rem;}
    .common-div p {
        margin: 15px 0;
    }
    section#m-slider h4 {font-size: 1.7rem;}
    .login-main{width:75%}
    .h-teacer-img img {
        max-height: 244px;
    }
    .table-part {
        overflow-x: scroll;
    }
    #message .common-div img {
        max-height: 400px;
    }
    section#events-area .event-box .events-img img {
        min-height: 250px;
    }
    .vid-img img {
        min-height: 180px;
    }
    section.intro .vid-img img {
        max-height: 270px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .title-name h1 {
        font-size: 1.6rem;
    }
    .carousel-item {
        height: 88vh;
    }
    .navbar-collapse {
        max-height:300px;
    }
    .sectionTitle h2 span{font-size:1.6rem;}
    h4{font-size: 1.4rem;}
    section#m-slider h4 {font-size: 1.8rem;}
    .login-main{width:60%}
    .h-teacher-title p {
        min-height: 51px;
    }
    .h-teacer-img img {
        max-height: 213px;
    }
    .building-img img {
        max-height: 205px;
    }
    .table-part {
        overflow-x: scroll;
    }
    #message .common-div img {
        max-height: 136px;
    }
    section#events-area .event-box .events-img img {
        min-height: 230px;
    }
    section#photos img {
        max-height: 126px;
    }
    .vid-img img {
        min-height: 157px;
    }
    section.intro .vid-img img {
        max-height: 300px;
    }
    #academic-calendar .table{width:50%}
}
@media(min-width:992px) and (max-width:1199px){
    .title-name h1 {
        font-size: 1.8rem;
}
.navbar .nav-item .nav-link {
    margin-right: 3px;
    font-size: 0.79rem;
}
.carousel-item {
    height: 93vh;
}
.navbar-collapse {
    overflow: visible;
 }
 .sectionTitle h2 span{font-size:1.7rem;}
 h4{font-size: 1.45rem;}
 section#m-slider h4 {font-size: 2rem;}
 .login-main{width:45%}
 .h-teacher-title p {
    min-height: 51px;
}
.h-teacer-img img {
    max-height: 213px;
}
.building-img img {
    max-height: 180px;
}
#message .common-div img {
    max-height: 136px;
}
section#events-area .event-box .events-img img {
    min-height: 180px;
}
section#photos img {
    max-height: 159px;
}
.vid-img img {
    min-height: 218px;
}
#academic-calendar .table{width:50%}
}
@media(min-width:1200px){
    .title-name h1{
        font-size: 2.2rem;
    }
    .carousel-item {
        height: 100vh;
    }
    .navbar-collapse {
       overflow: visible;
    }
    .sectionTitle h2 span{font-size:1.8rem;}
    h4{font-size: 1.5rem;}
    section#m-slider h4 {font-size: 2.2rem;}
    .login-main{width:35%;}
    .h-teacer-img img {
        max-height: 259px;
    }
    .building-img img {
        max-height: 218px;
    }
    #message .common-div img {
        max-height: 136px;
    }
    section#events-area .event-box .events-img img {
        min-height: 180px;
    }
    section#photos img {
        max-height: 159px;
    }
    .vid-img img {
        min-height: 262.5px;
    }
    #academic-calendar .table{width:50%}
}








